<template>
 <div class="container">
    <h1>Questions</h1>  
    <!---Displays the questions and the answers as buttons-->
    <h2 v-html="questions[questionCounter].question"></h2>  
         <div class="alternatives">
                   <button  v-for="answer in answers" :key="answer" 
                   :value="answer" @click="onButtonClick" v-html="answer" 
                   ></button>
         </div>
 </div>
</template>


<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";

export default {
    /*
    * Fetching the STATES and GETTERS from the vuex state.
    */ 
    computed: {
        ...mapState(["questions","questionCounter","questionSettings"]),
        ...mapGetters(["answers"])
    },
     /*
    * Fetching mutations and action from the vuex state.
    */ 
    methods: {
      ...mapMutations(["setAnswers","setQuestionCounter"]),
      ...mapActions(["nextQuestion"]),

       /*
       *  Stores the selected answers by the user in vuex state (one by one).
       *  If there is no question left to show, the users will be routed to 
       * the result view.
       */ 
      onButtonClick(answer){
          this.setAnswers(answer.target.value);
          if(this.questionSettings.amount - 1 > this.questionCounter){
              this.nextQuestion();
          } else {
              this.setQuestionCounter(0)
              this.$router.push('/result')
          }
      }
    }
}

</script>


<style scoped>

.container {
  text-align: center;
  background-color: rgb(241, 236, 236);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 15px;
  padding: 10px;
  width: 70rem;
  margin: auto;
  overflow: hidden;
}
button {
 background-color: #fb8332;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: 1000;
  line-height: 1.25;
  padding: 20px 15px 20px 15px;
  margin: 10px;
}
button:hover {
    color: #fb8332;
    border: 1px solid #fb8332;
    background-color: white;
}



</style>