<script setup>
import { computed } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import ResultList from "../components/reults/ResultList.vue";
import Score from "../components/reults/Score.vue";
import { newQuestions } from '../helper/newQustions';

const router = useRouter()
const store = useStore()
const questions = computed(() => store.state.questions)

/**
 * Genrates an array of questions with {@link store.dispatch} and redirects  to "/questions"
 */
const retakeTrivia = async () => {
    try {
        const generateQuestionError = await store.dispatch("generateQuestions")

        if (generateQuestionError !== null) {
            throw new Error(generateQuestionError)
        }
        router.push("/questions")
    } catch (error) {
        console.error(error);
    }
}
/**
 * Redirects to "/" 
 */
const goToStart = () => {
    router.push("/")
}
</script>

<template>
    <div class="container">
        <ResultList :questions="questions" />
        <Score :questions="questions" />

        <div class="buttonContainer">
            <button @click="goToStart">Go to start screen</button>
            <button @click="retakeTrivia">Retake trivia with different questions</button>
        </div>
    </div>
</template>


<style scoped>
.container {
    overflow: hidden;
    background-color: rgb(241, 236, 236);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 15px;
    padding: 20px;
    width: 70rem;
    margin: auto;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #fb8332;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: 1000;
    line-height: 1.25;
    padding: 20px 15px 20px 15px;
}
button:hover {
    color: #fb8332;
    border: 1px solid #fb8332;
    background-color: white;
}
</style>

