<script setup>
import { ref, computed, onMounted, reactive } from 'vue';
import { isUsernameAvailable } from '../helper/usernameValidation.js';
import StartForm from '../components/StartForm.vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { getSessionToken } from '../api/questions.js';

const store = useStore()
const router = useRouter()

const activeUser = computed(() => store.state.user)
const usernameInput = ref("")
const isUsernameUnique = ref(true)


getSessionToken()
/**
 * Sets the value of usernameInput if the store already contains an user-object
 */
onMounted(() => {
  if (activeUser.value !== null) {
    usernameInput.value = activeUser.value.username
  }
})
/**
 * Uses {@link isUsernameAvailable} to check if a username is available or not
 */
const validateUsername = async () => {
  try {
    const [error, isAvailable] = await isUsernameAvailable(usernameInput.value)
    if (error !== null) {
      throw new Error(error)
    }
    isUsernameUnique.value = isAvailable
  } catch (error) {
    console.error(error);
  }
}
/**
 * Generates an array of questions with {@link store.dispatch} and redirect to /questions if the username is entered and unique
 */
const onClick = async () => {
  try {
    const generateQuestionError = await store.dispatch("generateQuestions")

    if (generateQuestionError !== null) {
      throw new Error(generateQuestionError)
    }

    if (activeUser.value !== null) {
      router.push("/questions")
    }
    else {
      await validateUsername()
      if (usernameInput.value.length > 0 && isUsernameUnique.value) {

        const userError = await store.dispatch("createUser", usernameInput.value)

        if (userError !== null) {
          throw new Error(userError)
        }

        router.push("/questions")
      }

    }
  } catch (error) {
    console.error(error)
  }
}

</script>

<template>
  <div class="container">
    <h1>Trivia Game</h1>
    <input type="text" v-model.trim.lazy="usernameInput" placeholder="Enter Username" />
    <p v-if="(usernameInput.length > 0 && !isUsernameUnique)">Username is not available</p>
    <StartForm />
  <button @click="onClick">START</button>
  </div>
</template>

<style scoped>
.container {
  text-align: center;
  background-color: rgb(241, 236, 236);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 15px;
  padding: 10px;
  width: 70rem;
  margin: auto;
  overflow: hidden;
}
h1{
  font-size: 70px;
}
button {
  border-color: black;
  padding: 15px 50px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
input {
  margin: 5px;
  padding: 5px;
  font-size: larger;
}
.button:hover {
  background-color: cyan;
  color: black;
  border: 2px solid #555555;
}
button {
  width: 400px;
  background-color: #fb8332;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: 1000;
  line-height: 1.25;
  padding: 20px 15px 20px 15px;
}
button:hover {
  color: #fb8332;
  border: 1px solid #fb8332;
  background-color: white;
}
</style>