<script setup>
import { onBeforeMount, reactive } from "vue"
import { getCategories } from "../api/questions"
import store from "../store";

const categories = reactive([])

/**
 * Uses {@link getCategories} to retrive an array of categories and pushed them to {@link categories}
 */
onBeforeMount(async () => {
    try {
        const [error, data] = await getCategories()
        if (error !== null) {
            throw new Error(error)
        }
        data.trivia_categories.forEach(category => categories.push(category))
    } catch (error) {
        console.error(error)
    }
})
const questionSettings = reactive({
    difficulty: "any",
    type: "any",
    amount: 10,
    category: "any"
})
/**
 * Dispatches the store to update its questionSettings object
 */
const onChangeSelect = (event) => {
    const { name, value } = event.target
    questionSettings[name] = value
    store.dispatch("updateQuestionSettings", questionSettings)
}
</script>

<template>
    <div class="container">
        <select
            @change="onChangeSelect"
            name="difficulty"
            id="select-difficulty"
            v-model="questionSettings.difficulty"
        >
            <option value="any">Any Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>

        <select
            @change="onChangeSelect"
            name="type"
            id="select-type"
            v-model="questionSettings.type"
        >
            <option value="any">Any Type</option>
            <option value="multiple">Multiple Choice</option>
            <option value="boolean">True / False</option>
        </select>

        <input
            @change="onChangeSelect"
            name="amount"
            type="number"
            min="1"
            v-model="questionSettings.amount"
        />

        <select
            @change="onChangeSelect"
            name="category"
            id="select-category"
            v-model="questionSettings.category"
        >
            <option value="any">Any Category</option>
            <option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
            >{{ category.name }}</option>
        </select>
    </div>
</template>

<style scoped>


select,input{
    margin: 5px;
    padding: 5px;
    font-size: larger;
}
</style>