<script setup>
import ResultListItem from './ResultListItem.vue';

const props = defineProps({
    questions:{
        type: Object,
        required: true
    }
})

</script>
<template>
    <div>
        <div class="flexConatiner">
            <h3>Questions</h3>
            <h3>Correct Answers</h3>
            <h3>Your Answers</h3>
        </div>

        <ResultListItem v-for="question in questions" :key="question" :question="question" />

    </div>
</template>


<style scoped>
.container {
    background-color: rgb(241, 236, 236);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 15px;
    padding: 20px;
    width: 70rem;
    margin: auto;
}
h3 {
    display: inline-block;
}
.flexConatiner {
    display: grid;
    grid-template-columns: auto 15% 15%;
    grid-gap: 10px;
}
</style>