<script setup>
const props = defineProps({
    question: {
        type: Object,
        required: true,
    }
})
</script>

<template>
    <div class="flexConatiner">
        <span v-html="props.question.question"></span>
        <span v-html="props.question.correct_answer"></span>
        <span v-html="props.question.answer"></span>
    </div>
</template>

<style scoped>
.flexConatiner {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 10% 10%;
    grid-gap: 10px;
    border-bottom: 2px solid black;
}
</style>