<script setup>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore()
const props = defineProps({
    questions: {
        type: Object,
        required: true,
    }
})

const correct = ref(0)
const score = ref(0)
/**
 * Sets the {@link score.value} and {@link correct.value.value} if the users answer is the correct one
 */
for (const question of props.questions) {
    if (question.correct_answer === question.answer) {
        correct.value += 1
        score.value = (correct.value * 10)
    }
}
const currentUser = computed(() => store.state.user)

/**
 * Dispatches the {@link score.value} if its higher than the previus one
 */
if (score.value > currentUser.value.highScore) {
    currentUser.value.highScore = score.value
    store.dispatch("updateUser", currentUser.value)
}

</script>

<template>
    <div>
        <h1>Score: {{ score }}</h1>
        <h1>{{ correct }} / {{ props.questions.length }}</h1>
    </div>
</template>